.header {
    background-color: #ff8c34;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    flex-shrink: 0;
}

.text-content h1 {
    font-size: 3rem;
    margin: 5px;
}